.bstyle {
  font-family: monospace;
  font-size: 13px;
}

  header{
    display: block;
    white-space: pre;
    position: sticky;
    top:0;
    padding:0px;
    background: lightblue;
}

  .innerdiv {
    display:flow-root;
    white-space: pre;
    border-spacing: 1px;
    border-collapse: collapse;
}
  .innerdiv:hover {
    background: var(--div-background-color);
  }

  .innerspan {
    white-space: pre;
    font-family: monospace;
    display:inline-block;
    word-wrap: break-word;
    border-spacing: 1px;
    border-collapse: collapse;
  }

  .timespan {
    display:inline-flex;
    width: 92px;
/*    height: 100%;*/
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: blue;
    color: white;
  }

/*.innerdiv span:last-child {
    position: absolute;
    right: 6px;
}*/

.testing {
    display:inline-block;
    width: 12px;
    height: 100%;
  }

.sdiv {
    float: left;
    width: 320px;
  }

.rdiv {
    background: lightgrey;
  }

/*.tooltipclass {*/
#tooltip {
    display: none;
    font-family: monospace;
    color: black;
    border: 2px solid black;
    font-size: 13px;
    position: fixed;
    padding: 7px;
    background: white repeat-x 0 0;
    pointer-events:none;
}

.tooltiptable {
  font-family: monospace;
  color: black;
  font-size: 13px;
}


/*
 * modal dialog
 */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 9;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 80vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  min-width: 700px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button:focus
{
    outline: none;
}

.button
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f1f9f9;
    display: table;
    counter-reset: button-counter;
}

.knobs
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button.b2
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: 0px auto 0 auto;
    overflow: hidden;
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

/* Button 10 */
#button-10 .knobs:before, #button-10 .knobs:after, #button-10 .knobs span
{
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-10 .knobs:before
{
    content: '';
    left: 4px;
    background-color: #03A9F4;
}

#button-10 .knobs:after
{
    content: 'NO';
    right: 4px;
    color: #4e4e4e;
}

#button-10 .knobs span
{
    z-index: 2;
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

#button-10 .checkbox:checked + .knobs span
{
    color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before
{
    left: 42px;
    background-color: #F44336;
}

#button-10 .checkbox:checked + .knobs:after
{
    color: #fff;
}

#button-10 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

#button-2 .knobs:before
{
    content: 'YES';
}

#button-2 .knobs:after
{
    content: 'NO';
}

#button-2 .knobs:after
{
    right: -28px;
    left: auto;
    background-color: #F44336;
}


#button-2 .checkbox:checked + .knobs:before
{
    left: -28px;
}

#button-2 .checkbox:checked + .knobs:after
{
    right: 4px;
}

#button-2 .checkbox:checked
{
    background-color: #fcebeb;
}

.buttonbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.loading {
  display: block;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 80vh;
  overflow: auto;
  background-color: white;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #000;
  font-family: "roboto Sans", sans-serif;
  font-size: 42pt;
}
.loading-text span:nth-child(1) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
          animation: blur-text 1.5s 0s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0s infinite linear alternate;
       -o-animation: blur-text 1.5s 0s infinite linear alternate;
   }
.loading-text span:nth-child(2) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.1s infinite linear alternate;
          animation: blur-text 1.5s 0.1s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.1s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.1s infinite linear alternate;
   }
.loading-text span:nth-child(3) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
          animation: blur-text 1.5s 0.2s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.2s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.2s infinite linear alternate;
   }
.loading-text span:nth-child(4) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.3s infinite linear alternate;
          animation: blur-text 1.5s 0.3s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.3s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.3s infinite linear alternate;
   }
.loading-text span:nth-child(5) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
          animation: blur-text 1.5s 0.4s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.4s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.4s infinite linear alternate;
   }
.loading-text span:nth-child(6) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.5s infinite linear alternate;
          animation: blur-text 1.5s 0.5s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.5s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.5s infinite linear alternate;
   }
.loading-text span:nth-child(7) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
          animation: blur-text 1.5s 0.6s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.6s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.6s infinite linear alternate;
   }
.loading-text span:nth-child(8) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.7s infinite linear alternate;
          animation: blur-text 1.5s 0.7s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.7s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.7s infinite linear alternate;
   }
.loading-text span:nth-child(9) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
          animation: blur-text 1.5s 0.8s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.8s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.8s infinite linear alternate;
   }
.loading-text span:nth-child(10) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 0.9s infinite linear alternate;
          animation: blur-text 1.5s 0.9s infinite linear alternate;
     -moz-animation: blur-text 1.5s 0.9s infinite linear alternate;
       -o-animation: blur-text 1.5s 0.9s infinite linear alternate;
   }
.loading-text span:nth-child(11) {
  filter: blur(64px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
          animation: blur-text 1.5s 1s infinite linear alternate;
     -moz-animation: blur-text 1.5s 1s infinite linear alternate;
       -o-animation: blur-text 1.5s 1s infinite linear alternate;

}


@-webkit-keyframes blur-text {
  0% { filter: blur(64px);}
  100% { filter: blur(0px);}
}

@keyframes blur-text {
  0% { filter: blur(64px);}
  100% { filter: blur(0px);}
}

@-moz-keyframes blur-text {
  0% { filter: blur(64px);}
  100% { filter: blur(0px);}
}

@-o-keyframes blur-text {
  0% { filter: blur(64px);}
  100% { filter: blur(0px);}
}

@-ms-keyframes blur-text {
  0% { filter: blur(64px);}
  100% { filter: blur(0px);}
}

div[disabled=disabled] {
  pointer-events: none;
  opacity: 0.4;
}