td, th {
    padding: 4pt;
    white-space: nowrap;
}

table {
    border: 0pt;
    border-collapse: collapse;
}

th {
    background-color: #c8c838
}

tr:nth-child(even) > td {
    background-color: #ffff95
}

tr:nth-child(odd) > td {
    background-color: #e1e183
}

tr:nth-child(even) > td:first-child {
    vertical-align: top;
    background-color: #ffff85;
}

tr:nth-child(odd) > td:first-child {
    vertical-align: top;
    background-color: #d1d173;
}

.dmesg-warnings::before {
    display: block;
    content: " ";
    margin-top:-50px;
    height: 50px;
    visibility: hidden;
}

span.dmesg-warnings {
    color: orangered;
    font-weight: bold;
}

span.dmesg-igt {
    background-color: #ffffba;
}

span.dmesg {
    white-space: pre;
    font-family: monospace;
    word-wrap: normal;
}

pre {
    margin: 0px 0px;
}

.button {
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    padding: 8px;
}
